* {
  transition: all 0.3s;
}

header {
  margin: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 3em;
  justify-content: center;

}
body {
  background-image: url(p10.webp);
  background-repeat:no-repeat;
  background-size:auto;
  background-color: #ede6ff;
  background-position-x: left;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: calibri;
  font-size: 150%;
}


.contenedor {
  width: 100vw;
  height: 85vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.encabezado {
  position: relative;
  background: white;
  min-width: 300px;
  width: 90%;
  max-width: 900px;
  padding: 10px;
}
.reglas{
  width: 700px;
}

.categoria {
  opacity: 0.3;
  text-align: left;
}


.pregunta {
  padding: 10px;
}


.imagen {
  object-fit: cover;
  height: 0px;
  width: 0px;
}


.btn {
  background: white;
  width: 60%;
  max-width: 860px;
  padding: 10px;
  margin: 10px;
  cursor:pointer;
 
}


.btn:hover {
  transform: scale(1.05);
}


.numero {
  position: absolute;
  opacity: 0.3;
  top: 10px;
  right: 10px;
}


.puntaje {
  padding: 10px;
  color: white;
}

